# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers de dépendances
node_modules/
.nuxt/
.output/
dist/

# Fichiers de build
target/
build/

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
README.md
*.md

# Uploads (pour éviter de copier les fichiers uploadés)
uploads/ 